fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1
redis==5.0.8

SQLAlchemy==2.0.35
psycopg[binary]==3.2.1
pgvector==0.3.3

langchain==0.3.27
langchain-core==0.3.75
langgraph==0.6.6